# Electron and better-sqlite3 configuration
runtime=electron
target=30.5.1
arch=x64
disturl=https://electronjs.org/headers
build_from_source=false
better_sqlite3_binary_host_mirror=https://github.com/WiseLibs/better-sqlite3/releases/download/